@model OperationMonitoring.Models.Nomenclature
@{
    ViewData["Title"] = "Add New Nomenclature";
}
<div class="content-heading">
    <h4>Add New Nomenclature</h4>
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-pos">
        <div class="form-group">
            <label asp-for="VendorCode" class="control-label"></label>
            <input asp-for="VendorCode" class="form-control" />
            <span asp-validation-for="VendorCode" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-pos">
        <div class="form-group">
            <label asp-for="Specification.Material" class="control-label"></label>
            <input asp-for="Specification.Material" class="form-control" />
            <span asp-validation-for="Specification.Material" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Specification.Height" class="control-label"></label>
            <input asp-for="Specification.Height" class="form-control" />
            <span asp-validation-for="Specification.Height" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Specification.Weight" class="control-label"></label>
            <input asp-for="Specification.Weight" class="form-control" />
            <span asp-validation-for="Specification.Weight" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Specification.OperatingTime" class="control-label"></label>
            <input asp-for="Specification.OperatingTime" class="form-control" />
            <span asp-validation-for="Specification.OperatingTime" class="text-danger"></span>
        </div>
    </div>

    <div class="form-pos">
        <div class="form-group">
            <label class="control-label">Provider</label>
            <div class="container">
                <select name="provider" class="form-select">

                    @{
                        if (ViewBag.Providers != null)
                        {
                            List<Provider> providers = ViewBag.Providers;
                            int i = 0;
                            while (i < providers.Count)
                            {
                                <option value="@providers[i].Id">@providers[i].Name</option>
                                i++;
                            }
                        }
                    }
                </select>
                <span class="text-danger hidden">Provider must be selected</span>
                <button class="btn btn-primary"><span>&#43;</span></button>
            </div>
           
        </div>

    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
