@model CreateRoleViewModel

@{
    ViewBag.Title = "Create new role";
}

    <div class="container">
                <form method="post">
                    <div class="form-group">
                        <label asp-for="RoleName" class="textStyle">Name role</label>
                        <input asp-for="RoleName" class="form-control inputStyle" placeholder="Entered name role..." />
                        <span asp-validation-for="RoleName" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary" style="width:100%">Create role</button>
                </form>
    </div>

<style>
    .textStyle {
        font-family: 'Open Sans';
        font-size: 50px;
    }

    .inputStyle{
        margin-top:25px;
    }
</style>