@model EditUserViewModel

@{
    ViewBag.Title = "Edit User";
}

    <div class="container">
        <h1 class="hia">Edit User</h1>
        <hr />
        <form method="post">
            <div class="form-group ">
                <label asp-for="Id" class="textStyle"></label>
                <div class="col-sm-10">
                    <input asp-for="Id" disabled class="form-control inputStyle">
                </div>
            </div>
            <div class="form-group ">
                <label asp-for="UserName" class="textStyle">User Name</label>
                <input asp-for="UserName" class="form-control inputStyle">
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group ">
                <label asp-for="Email" class="textStyle"></label>
                <input asp-for="Email" class="form-control inputStyle">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group ">
                <button type="submit" class="btn btn-primary widthStyle">Update</button>
                <a asp-action="AdminPanel" asp-controller="Admin" class="btn btn-primary widthStyle">Cancel</a>
            </div>

            <br /><hr /><br />

            <div class="card">
                <div class="card-header">
                    <h3 class="hia">User Roles</h3>
                    <hr />
                </div>
                <div class="card-body">
                    @if (Model.Roles.Any())
                    {
                        foreach (var role in Model.Roles)
                        {
                            <h1 class="card-title">@role</h1>
                        }
                    }
                    else
                    {
                        <h5 class="card-title">None at the moment</h5>
                    }
                </div>
            </div>
        </form>
    </div>




<style>
        .widthStyle {
            width: 100%;
        }

        .hia {
            font-family: 'Open Sans';
            font-size: 50px;
        }

        .textStyle {
            font-family: 'Open Sans';
            font-size: 30px;
        }

        .inputStyle {
            margin-top: 15px;
            margin-bottom: 15px;
            font-size: 18px;
        }
</style>