@model EditRoleViewModel

@{
    ViewBag.Title = "Edit Role";
}

    <div class="container">
        <h1 class="hia">Edit Role</h1>
        <hr />
        <form method="post">
            <div class="form-group">
                <label asp-for="Id" class="textStyle">Id Role</label>
                <input asp-for="Id" disabled class="form-control inputStyle">
            </div>
            <div class="form-group">
                <label asp-for="RoleName" class="textStyle">Role Name</label>
                @if (Model.RoleName == "Admin")
                {
                    <input asp-for="RoleName" class="form-control inputStyle" disabled>
                }
                else
                {
                    <input asp-for="RoleName" class="form-control inputStyle">                    
                }
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary widthStyle">Update</button>
                <a asp-action="AdminPanel" asp-controller="Admin" class="btn btn-primary widthStyle">Cancel</a>
            </div>

            <br /><hr /><br />

            <h1 class="hia">Users in this role</h1>
            <hr />

            <div>
                @if (Model.Users.Any())
                {
                    foreach (var user in Model.Users)
                    {
                        <h5 class="card-title">@user</h5>
                        <br />
                    }
                }
                else
                {
                    <h5 class="card-title">None at the moment</h5>
                }
            </div>
            <div>
                <a asp-controller="Admin" asp-action="EditUsersInRole" asp-route-roleId="@Model.Id" class="btn btn-primary widthStyle">
                    Add or remove users from this role
                </a>
            </div>
        </form>
    </div>


<style>

    .widthStyle{
        width:100%;
    }

    .hia{
        font-family:'Open Sans';
        font-size:50px;
    }
    .textStyle{
        font-family:'Open Sans';
        font-size:30px;

    }
    .inputStyle{
        margin-top:15px;
        margin-bottom:15px;
        font-size: 18px;
    }
</style>