@model IList<OperationMonitoring.Helpers.TreeViewStorage>
@{
    ViewData["Title"] = "Storages";

}
    <div class="container">
        <div class="storagesTreeView-container">
            <div class="content-heading">
                <h4>Storages</h4>
                <a class="btn btn-primary" asp-action="Create">+</a>
            </div>
            <div id="storagesTreeView">
                
            </div>
        </div>
        <div class="storage-items-container">
            <div class="container buttons">
                Кнопки
            </div>
            <div class="storage-items">
                Айтемы
            </div>
        </div>
    </div>
    


<script>
    var storagesJSON = JSON.parse('@Html.Raw(OperationMonitoring.Helpers.JSConverter.SerializeObject(Model))');
    $('#storagesTreeView').jstree({
        "plugins": ["wholerow", "contextmenu"],
        "core": {
            "multiple": false,
            "themes": {
                "dots": false,
                "icons": false,
                "responsive":true
            },
            "data": storagesJSON
        } 
    });
</script>

<script>
    //$(function () {
    //    $('#storagesTreeView').on("select_node.jstree", function (e, data) { window.location.href = "/Storages/Details/id=" + data.node.id; });
    //});
    
</script>
