@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');
/* RESET */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
    display: block;
}

blockquote, q {
    quotes: none;
}

    blockquote:before,
    blockquote:after,
    q:before,
    q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-width: 0px;
    padding: 0px;
    margin: 0px;
}

html {
    height: 100%;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
}

select,
input,
textarea {
    color: #212121;
    outline: none;
    border-radius: 3px;
    -webkit-appearance: none;
    border: 1px solid #E0E0E0;
    padding: 10px 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    transition-duration: .2s;
    width: 100%;
}

    select:focus,
    input:focus,
    textarea:focus {
        border-color: #9E9E9E;
    }

    select[disabled] {
        background: #fff;
        color: #ccc;
    }

textarea {
    resize: vertical;
}

input[type="button"],
input[type="submit"],
button {
    cursor: pointer;
    -webkit-appearance: none;
    outline: none;
    border: none;
    font-family: 'Montserrat', sans-serif;
    border-radius: 3px;
}

td {
    margin: 0px;
    padding: 0px;
}

form {
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    color: #FF8A65;
    transition: .2s;
}

    a:hover, a:active, a:focus {
        color: #F4511E;
        text-decoration: underline;
    }

a,
span,
div,
button {
    outline: none !important
}

img {
    display: block;
    border: none;
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: 400;
}

ul, li {
    list-style: none;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

    *:before,
    *:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        overflow: hidden;
    }

html, body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 1.2;
    background: #FAFAFA;
    height: 100%;
    position: relative;
}

.main {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 100px;
}

.container {
    width: 100%;
    max-width: 1400px;
    padding: 0 25px;
    text-align: left;
    margin: 0 auto;
}

.content {
    display: block;
    position: relative;
    width: 100%;
    padding: 40px 0 50px;
}

.footer {
    margin-bottom: 0;
    margin-top: auto;
    background: #37474F;
    padding: 20px;
    text-align: center;
    width: 100%;
}

.footer-copyright {
    color: #fff;
    font-size: 12px;
}

.header {
    background: #37474F;
    color: #fff;
    padding: 20px 0;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
}
.header a,
.header a:hover,
.header a:focus,
.header a:active{
    color: #fff;
}
.header .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.header-heading{
    font-size: 32px;
    font-weight: 300;
    margin: 0;
}

@media only screen and (max-width: 1024px) {
    .main {
        padding-top: 70px;
    }

    .header-heading {
        font-size: 24px;
    }
}

.header-nav {
    display: flex;
}

.header-nav__icon {
    padding: 5px;
    width: 50px;
    height: 50px;
    display: none;
    align-items: center;
}

.header-nav__icon i {
    display: block;
    position: relative;
    height: 2px;
    width: 100%;
    background: #fff;
}

.header-nav__icon i:before,
.header-nav__icon i:after {
    content: "";
    position: absolute;
    display: block;
    position: relative;
    height: 2px;
    width: 100%;
    background: #fff;
}

.header-nav__icon i:before {
    top: -10px;
    transition: .2s;
}

.header-nav__icon i:after {
    bottom: -10px;
    transition: .2s;
}

.header-nav__icon.menu-open i {
    background: none;
}

.header-nav__icon.menu-open i:before {
    transform: rotate(45deg);
    top: 1px;
}

.header-nav__icon.menu-open i:after {
    transform: rotate(-45deg);
    bottom: 1px;
}

.header-nav__container {
    display: flex;
    padding-top: 10px;
}

.header-nav__item {
    font-size: 18px;
    text-transform: uppercase;
    margin: 0 10px;
}

@media only screen and (max-width: 800px) {
    .header-nav__icon {
        display: flex;
        cursor: pointer;
        z-index: 15;
    }

    .header-nav__container {
        z-index: 14;
        background: #37474F;
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: none;
    }

    .header-nav__item {
        margin: 7px;
        font-size: 22px;
    }
}

h1 {
    font-size: 34px;
    margin-bottom: 20px;
}
h4{
    font-size: 28px;
}
h5{
    font-size: 24px;
}

p {
    font-size: 16px;
    padding-top: 7px;
}

.control-label {
    display: inline-block;
    margin-left: 8px;
    padding: 4px 8px;
    background: #fff;
    position: relative;
    z-index: 2;
    margin-top: 10px;
}

.form-control {
    width: 100%;
    margin-top: -12px;
}

.text-danger {
    color: #B71C1C;
    font-size: 12px;
    display: block;
    margin-top: 5px;
}

.btn {
    display: flex;
    margin-top: 20px;
    min-height: 40px;
    padding: 7px 15px;
    cursor: pointer;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}

.btn-primary {
    background: #FFB74D;
    color: #fff;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background: #FFA726;
    color: #fff;
    text-decoration: none;
}

.btn-alter {
    color: #fff;
    background: #90A4AE;
}

.btn-alter:hover,
.btn-alter:focus,
.btn-alter:active {
    background: #78909C;
    color: #fff;
    text-decoration: none;
}

.btn-auto {
    width: max-content;
}

.form-pos {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    border-radius: 3px;
    background: #fff;
    border: 1px solid #E0E0E0;
    margin-top: 20px;
}

.content-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-heading .btn {
    margin: 0;
}

.content-heading h4 {
    margin-right: 30px;
}

.search-panel {
    margin-top: 20px;
    padding: 20px;
    border-radius: 3px;
    background: #fff;
    border: 1px solid #E0E0E0;
    position: relative;
}

.search-panel .search-form {
    display: flex;
    align-items: stretch;
    width: 100%;
}

.search-label {
    position: absolute;
    margin-top: -22px;
}

.search-textbox {
    width: 100%;
}

.search-panel .btn {
    margin-left: 7px;
    margin-top: 0;
}

.btn-refresh {
    height: 40px;
    width: 40px;
    padding: 0;
}

.btn-refresh svg {
    width: 70%;
    height: auto;
}

.table {
    width: 100%;
    background: #fff;
    margin-top: 20px;
    border: 1px solid #E0E0E0;
}

.table tr {
    border-bottom: 1px solid #E0E0E0;
}

.table tr:nth-child(even) {
    background: #F5F5F5;
}

.table td {
    padding: 10px;
    text-align: left;
    vertical-align: middle;
    font-size: 16px;
}

.table td:first-child {
    width: 0;
}

.table td:last-child {
    width: 0;
    white-space: nowrap;
}

.table p {
    padding: 2px 0;
}

.table .btn {
    margin: 0 3px;
    display: inline-block;
    height: auto;
    padding: 5px;
    min-height: 0;
}

.table th {
    background: #90A4AE;
    padding: 15px 10px;
    text-align: left;
    vertical-align: middle;
    font-size: 16px;
    color: #fff;
}

.table th a {
    color: #fff;
    white-space: nowrap;
}

.table th a:hover, .table th a:active, .table th a:focus {
    color: #fff;
}

.sort-asc a:after,
.sort-desc a:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-left: 3px;
    width: 15px;
    height: 16px;
    background: #fff;
    mask-position: center center;
    mask-repeat: no-repeat;
    mask-size: contain;
}

.sort-asc a:after {
    mask-image: url(../img/sort-asc.svg);
}

.sort-desc a:after {
    mask-image: url(../img/sort-desc.svg);
}

.pages {
    margin-top: 25px;
    text-align: center;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.pagination-container li {
    background: #fff;
    min-width: 30px;
    text-align: center;
    border-radius: 3px;
    overflow: hidden;
    margin: 0 3px;
}

.pagination-container li span {
    display: block;
    padding: 6px;
    background: #90A4AE;
    color: #fff;
    cursor: default;
    border: 1px solid #90A4AE;
}

.pagination-container li a {
    color: #121212;
    display: block;
    padding: 6px;
    border-radius: 3px;
    background: #F5F5F5;
    border: 1px solid #90A4AE;
}

.pagination-container li a:hover,
.pagination-container li a:active,
.pagination-container li a:focus {
    background: #90A4AE;
    color: #fff;
    border-color: #90A4AE;
    text-decoration: none;
}

.details-info {
    display: flex;
    flex-wrap: wrap;
}

.details-info__block {
    margin: 20px 30px 20px 0;
    width: 48%;
    max-width: 550px;
    min-width: 400px;
}

.details-info__block h5 {
    padding-bottom: 10px;
}

.details-info__block p {
    padding-top: 7px;
}

.details-info__item {
    background: #fff;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding: 5px;
}

.details-info__item-title {
    display: block;
    width: 100%;
    padding: 5px 15px;
}

.details-info__item .btn {
    margin: 0 0 0 5px;
    min-height: 32px;
    padding: 3px 10px;
}

.details-info__item-form {
    display: none;
}

.details-info__item-form form {
    background: #fff;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding: 5px;
}

.details-info__item-form .btn {
    margin: 0 0 0 5px;
    min-height: 32px;
    padding: 3px 10px;
}

.details-info__item-form .form-control {
    margin: -5px 0 -5px -5px;
    border-color: #fff !important;
}

.details-info__item-form .btn-refresh {
    height: 32px;
    padding: 3px;
}

.details-info__block .form-pos {
    display: none;
}

.content-heading__info {
    display: flex;
    align-items: center;
}

.content-heading__info .btn {
    margin-left: -15px;
}

.content-heading__form {
    width: 100%;
    max-width: 600px;
    display: none;
}

.content-heading__form form {
    display: flex;
}

.content-heading__form .form-control {
    margin: 0;
}

.content-heading__form .btn {
    margin-left: 5px;
}

.table-equipment tr,
.table-equipment tr:nth-child(even) {
    background: transparent;
    border: none;
}

.table-equipment tbody {
    border-bottom: 1px solid #E0E0E0;
}

.table-equipment tbody:nth-child(even) {
    background: #F5F5F5;
}

.table-equipment tbody:hover {
    background: #fff2df;
}

.table-equipment .btn {
    padding: 10px 15px;
    margin: 0;
}

.form-select {
    padding: 9px 11px;
    margin-top: -12px;
}

.search-field .form-select {
    margin-top: 0;
}

.storages-path .form-select + .form-select {
    margin-top: 25px;
}

.search-panel .btn-refresh {
    min-width: 40px;
}

.search-field {
    width: 245px;
    margin-right: 5px;
}

.search-field-input {
    width: 100%;
    margin-right: 0px;
}

.equip-current-status {
    font-size: 20px;
    font-weight: 600;
    display: block;
}

.form-info {
    width: 100%;
    padding: 0;
}

.form-info__heading {
    font-size: 22px;
    position: relative;
    padding: 20px;
    cursor: pointer;
}

.form-info__heading + .form-info__note {
    margin-top: -15px;
    margin-bottom: 10px;
}

.form-info__item {
    margin-top: 10px;
    font-size: 16px;
    display: flex;
    align-items:top;
}

.form-info__label {
    width: 210px;
    font-weight: 600;
}

.form-info_data {
    font-weight: 600;
}

.form-info .btn {
    margin-top: 30px;
}

.commentary {
    margin-top: 40px;
}

.commentary-heading {
    font-size: 22px;
    margin-bottom: 10px;
}

.commentary-form {
    max-width: 100%;
}

.buttons-pos {
    display: flex;
    justify-content: space-between;
}

.width-100 {
    flex-wrap: wrap;
    width: 100%;
    max-width: none;
}

.width-100 div {
    width: 100%;
}

.block-width-100 {
    width: 100%;
    max-width: none;
}

.history {
    margin-top: 40px;
}

.history-heading {
    font-size: 22px;
}

.history .table td:first-child {
    width: 0;
}

.history .table td:last-child {
    width: 100%;
    white-space: normal;
}

.table-history td:last-child {
    width: 100%;
}

.hidden {
    display: none;
}

.align-right {
    display: flex;
    justify-content: flex-end;
}

.scan-images {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.scan-images .form-info__heading {
    width: 100%;
}

.scan-images__item {
    width: 150px;
    margin: 0 10px 10px 0;
}

.scan-images__item-filename {
    display: block;
    padding: 5px 10px 10px;
    font-size: 12px;
    text-align: center;
}

.scan-images img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    display: block !important;
}

.hours {
    font-weight: 600;
}

.form-pos .form-pos {
    padding: 0;
    border: none;
}

.form-pos .form-pos .btn {
    margin-top: 20px;
}

.small-form {
    margin-top: 30px;
}

.small-form form {
    display: flex;
    align-items: flex-end;
    margin-top: -25px;
}

.small-form .form-control {
    width: 120px;
    display: block;
    margin-right: 10px;
}

.form-pos .history {
    margin-top: 30px;
}

.form-info__item-inputs {
    width: 100%;
    margin-right: 10px;
}

.form-info__item-inputs input {
    height: 40px;
    padding: 6px;
}

.form-upload .form-info__item {
    align-items: flex-end;
}

.form-info__item-inputs input + input {
    margin-top: 3px;
}

.form-upload .form-info__item .btn {
    margin: 0;
    white-space: nowrap;
}

.form-close-maintenance {
    margin-top: 30px;
}
.table-equipment p:first-child{
    margin-top: -15px;
}

.table-equipment .btn {
    margin-top: 10px;
}

.alert-message {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    color: #fff;
    padding: 20px 30px;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
}

.alert-message-warning {
    background: #F9A825;
}

.alert-message-danger {
    background: #C62828;
}

.form-due-date {
    margin-top: 0;
}

.form-due-date form {
    display: flex;
    align-items: flex-end;
}

.form-due-date .form-group {
    width: 100%;
}

.form-due-date .btn {
    margin: 0 0 0 10px;
    white-space: nowrap;
}

.table-time-warning {
    background: #FFF59D !important;
}

.table-time-danger {
    background: #FFAB91 !important;
}

.table-time-warning .time-text {
    color: #FF6F00;
    font-weight: 600;
}

.table-time-danger .time-text {
    color: #DD2C00;
    font-weight: 600;
}

.table-time-danger .btn {
    background: #DD2C00;
}

.simple-pagination {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    font-size: 16px;
}

.simple-pagination a {
    display: block;
    text-align: center;
    width: 40px;
    padding: 8px 3px;
    margin: 3px;
    font-weight: 600;
    background: #fff;
    border: 1px solid #E0E0E0;
    ;
    border-radius: 2px;
}

.simple-pagination-page-numbers {
    display: flex;
    justify-content: center;
}

.simple-pagination-navigation-first.simple-pagination-navigation-disabled,
.simple-pagination-navigation-last.simple-pagination-navigation-disabled,
.simple-pagination-navigation-next.simple-pagination-navigation-disabled,
.simple-pagination-navigation-previous.simple-pagination-navigation-disabled {
    display: none;
}

.simple-pagination-navigation-first:hover,
.simple-pagination-navigation-last:hover,
.simple-pagination-navigation-next:hover,
.simple-pagination-navigation-previous:hover,
.simple-pagination-navigation-page:hover {
    text-decoration: none !important;
    color: #fff;
    background: #FFB74D;
    border-color: #FFB74D;
}

.simple-pagination-navigation-page.simple-pagination-navigation-disabled {
    cursor: default;
    text-decoration: none !important;
    color: #fff;
    background: #FFB74D;
    border-color: #FFB74D;
}

.simple-pagination-navigation-page:first-child:last-child {
    display: none;
}

@media only screen and (max-width: 768px) {
    .search-panel .search-form {
        flex-wrap: wrap;
    }

    .search-field {
        width: 50%;
        margin: 0;
    }

        .search-field + .search-field:not(.search-field-input) {
            width: calc(50% - 8px);
            margin-left: 8px;
        }

    .search-field-input {
        width: 100%;
        margin: 12px 0 8px 0;
    }

    .search-panel .btn {
        margin-left: 0;
        margin-right: 8px;
    }
}
.two-rows{
    max-width: none;
}
.two-rows form{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.two-rows .form-group{
    width: calc(50% - 10px);
}
.two-rows .button-pos{
    width: 100%;
}
.two-rows .btn{
    min-width: 300px;
}
.two-rows hr{
    margin: 0;
    border: none;
    width: 100%;
    height: 1px;
}
.content-heading-auto{
    display: block;
}
.info-dropdown{
    display: none;
    padding: 0px 20px 23px;
}
.icon-check{
    position: relative;
    display: inline-block;
    width: 13px;
    height: 25px;
    border-bottom: 3px solid green;
    border-right: 3px solid green;
    transform: rotate(45deg);
    margin-right: 6px;
    margin-left: 5px;
}
.icon-check + span{
    color: green;
}
.icon-arrow{
    position: absolute;
    width: 15px;
    height: 15px;
    border-left: 3px solid #000;
    border-bottom: 3px solid #000;
    transform: rotate(-45deg);
    right: 20px;
    top: 50%;
    margin-top: -9px;
}

.selected-parts{
    margin-top: 30px;
}
.selected-parts__forms{
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
}
.selected-parts__forms-right{
    display: flex;
}
.selected-parts__forms-right form{
    margin-left: 20px;
}
.nomenclature-list{
    margin-top: 30px;
}
.nomenclature-list-amount{
    width: 115px;
    min-width: 115px;
}
td.nomenclature-list-amount{
    padding-right: 0;
}
.nomenclature-list .table .btn{
    min-height: 40px;
    padding: 5px 10px;
    display: flex;
}
.nomenclature-list .table input{
    text-align: center;
    margin-right: -10px;
}
.nomenclature-list .hidden{
    display: none !important;
}
.width-20{
    width: 20%;
}
.width-80{
    width: 80%;
}

.storages-tree :last-child {
    display: none;
}

flex-container {
    display:flex;
}