@model OperationMonitoring.ModelsIdentity.ForgotPasswordViewModel
@{
    Layout = "~/Views/Shared/_StartLayout.cshtml";
    ViewData["Title"] = "Forgot Password?";
    ViewData["Heading"] = "Forgot Password?";
}

<form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label class="control-label" asp-for="Email"></label>
        <div class="col-md-10">
            <input class="form-control" asp-for="Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary">Send</button>
        </div>
    </div>
</form>