@{
    Layout = "~/Views/Shared/_StartLayout.cshtml";
    ViewData["Title"] = "Reset Password";
    ViewData["Heading"] = "Reset Password";
}
<p>
    Для сброса пароля перейдите по ссылке в письме, отправленном на ваш email.
</p>