
    <div class="container">
        <div class="text-center">
            <h1>Сбросить пароль</h1>
            <h1>
                Для сброса пароля перейдите по ссылке в письме, отправленном на ваш email.
            </h1>
        </div>
    </div>
